<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="background.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div style="background-color: rgb(93, 178, 228) ;" class="jumbotron">
        <img src="pepe_doctor.png" class="header-pic" />
        <h1>Doctors and Patients Hospital</h1>
        <p>Add a Patient</p>
    </div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/addDoctor">Add Doctor</a></li>
                <li><a href="/listDoctor">List Doctors</a></li>
                <li class="active"><a href="/addPatient">Add Patient</a></li>
                <li><a href="/listPatient">List Patients</a></li>
                <li><a href="/deletePatient">Delete Patient</a></li>
                <li><a href="/updateDoctor">Update Doctor's Patient</a></li>
            </ul>
        </div>
    </nav>
    <form style="margin-right: 3%; margin-left: 3%;" class="form-horizontal" action="/addPatient" method="POST">
        <div class="form-group">
            <label class="control-label col-sm-2" for="fullName">Full Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="fullName" name="fullName" placeholder="Enter Full Name">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="doctor">Doctor ID:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="doctor" name="doctor" placeholder="Enter Doctor's ID">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="age">Age:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="age" name="age" placeholder="Enter Age">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="dateOfVisit">Date of Visit:</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" id="dateOfVisit" name="dateOfVisit"
                    placeholder="Enter Date of Visit">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="description">Case Description:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="description" name="description" placeholder="Enter Case Description">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
</body>