<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="background.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div style="background-color: rgb(93, 178, 228) ;" class="jumbotron">
        <img src="pepeSad.png" class="header-pic" />
        <h1><%=message%></h1>
        <p>You have an error</p>
    </div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/addDoctor">Add Doctor</a></li>
                <li><a href="/listDoctor">List Doctors</a></li>
                <li><a href="/addPatient">Add Patient</a></li>
                <li><a href="/listPatient">List Patients</a></li>
                <li><a href="/deletePatient">Delete Patient</a></li>
                <li><a href="/updateDoctor">Update Doctor's Patient</a></li>
            </ul>
        </div>
    </nav>
    <p>I'm so dissapointed I won't even try to find a proper PNG</p>
</body>